/*navbar*/
.navbar {
  background-color: #ffe9f3;       
  padding: 15px 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #d66ba0;
  margin: 0;
  font-family: 'Phudu', sans-serif;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 14px;
  border-radius: 12px;
  color: #a75d9e;
  transition: 0.25s ease;
  font-family: 'Phudu', sans-serif;
}

.nav-links a:hover {
  background-color: #ffd7ec;
  color: #8b4f80;
}

.router-link-active {
  background-color: #ffbde0;
  color: #fff;
}

/*footer*/
.footer {
  background-color: #ffe9f3;
  margin-top: 60px;
  padding: 25px 20px;
  text-align: center;
  border-top: 2px solid #ffd8e7;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer-text {
  font-family: 'Phudu', cursive;
  color: #d66ba0;
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.footer-email {
  color: #a75d9e;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 8px 12px;
  background: #ffd7ec;
  transition: 0.2s ease;
  display: inline-block;
  margin-bottom: 12px;
}

.footer-email:hover {
  background: #ffbde0;
  color: #fff;
}

.footer-note {
  margin-top: 10px;
  color: #a75d9e;
  font-size: 0.9rem;
}

/*homepage*/
.home-container {
  padding: 30px 20px;
  text-align: center;
  font-family: 'Phudu', sans-serif;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(180deg, #ffe9f3, #fff);
  border-radius: 20px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.hero-title {
  font-size: 3rem;
  color: #d66ba0;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #7a556c;
  max-width: 650px;
  margin: auto;
  margin-bottom: 25px;
  line-height: 1.5;
}

.section-title {
  font-size: 1.9rem;
  color: #d66ba0;
  margin: 40px 0 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.recipe-card {
  background-color: #fff7fc;
  padding: 15px;
  width: 230px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.2s ease;
}

.recipe-card:hover {
  transform: translateY(-6px);
}

.recipe-card img {
  width: 100%;
  height: 250px;            
  object-fit: cover;        
  border-radius: 12px;
  margin-bottom: 10px;
  display: block;
}

.random-btn {
  background-color: #d66ba0;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.random-btn:hover {
  background-color: #c55a90;
  transform: translateY(-3px);
}

.random-result {
  margin-top: 18px;
  font-size: 1.2rem;
  color: #a64d7c;
}