body {
  background-color: #0a0e17;
}


/*navbar*/
.navbar {
  background-color: #0d1b2a;       
  padding: 15px 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #e2aaf7;
  margin: 0;
  font-family: 'Phudu', sans-serif;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 14px;
  border-radius: 12px;
  color: #e2aaf7;
  background:  #3b1e54;
  transition: 0.25s ease;
  font-family: 'Phudu', sans-serif;
}

.nav-links a:hover {
  background-color: #5c2d91;
  color: #ffffff;
}

.router-link-active {
  background-color: #e2aaf7;
  color: #3b1e54;
}

/*footer*/
.footer {
  background-color: #0d1b2a;
  margin-top: 60px;
  padding: 25px 20px;
  text-align: center;
  border-top: 2px solid #5c2d91;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer-text {
  font-family: 'Phudu', cursive;
  color: #e2aaf7;
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.footer-email {
  color: #3b1e54;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 8px 12px;
  background: #e2aaf7;
  transition: 0.2s ease;
  display: inline-block;
  margin-bottom: 12px;
}

.footer-email:hover {
  background: #e2aaf7;
  color: #fff;
}

.footer-note {
  margin-top: 10px;
  color: #e2aaf7;
  font-size: 0.9rem;
}

/*homepage*/
.home-container {
  padding: 30px 20px;
  text-align: center;
  font-family: 'Phudu', sans-serif;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(180deg, #1b2536, #3b1e54);  
  border-radius: 20px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.hero-title {
  font-size: 3rem;
  color: #e2aaf7;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #bfa8ce;
  max-width: 650px;
  margin: auto;
  margin-bottom: 25px;
  line-height: 1.5;
}

.section-title {
  font-size: 1.9rem;
  color: #e2aaf7;
  margin: 40px 0 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.recipe-card {
  background: #1b263b;
  padding: 15px;
  width: 230px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  transition: 0.2s ease;
  color: #e2aaf7;
}

.recipe-card:hover {
  transform: translateY(-6px);
}

.recipe-card img {
  width: 100%;
  height: 250px;            
  object-fit: cover;        
  border-radius: 12px;
  margin-bottom: 10px;
  display: block;
}

.random-btn {
  background-color: #19112b;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.random-btn:hover {
  background-color: #3b1e54;
  transform: translateY(-3px);
}

.random-result {
  margin-top: 18px;
  font-size: 1.2rem;
  color: #e2aaf7;
}